
header {
    position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(192, 187, 183); 
    z-index: 1000;
}

header a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

app-toggle-user {
  margin-left: auto;
  
}

