<header>
    <a routerLink="/">Home Page</a>
<a routerLink="/about">About page</a>
  <ng-container *ngIf="activeUserService.getUserStatusString() === 'Admin'">
    <a routerLink="/create">Create Post</a>
  </ng-container>
<app-toggle-user></app-toggle-user>
</header>



<!-- <div [hidden]="isShow">
</div>
<button (click) = toggleDisplay()>Toggle</button> -->
<!-- <div *ngIf="t" -->

<!-- <button (toggle)="toggleUser()">Toggle View</button> -->


<!-- <a routerLink="../projects">Project Page</a> -->

