<!-- blog-app\src\app\blog-post\blog-post.component.html -->
<div *ngIf="post">
  <h2>{{ post.title }}</h2>
  <!-- <img [src]="post.thumbnailUrl || {imagePath}" alt="{{ post.title }}" /> -->
  <p>{{ post.thumbnailUrl }}</p>
  <p>{{ post.body }}</p>
  <p>Created on: {{ formatDate(post.creationDate) }}</p>
  <p>Likes: {{ post.likes }}</p>
  <button (click)="increaseLikes()">Like</button>
  <p>Dislikes: {{ post.dislikes }}</p>
  <button (click)="increaseDislikes()">Dislike</button>
  <p>Comments: {{ post.comments.length }}</p>
</div>

