<h2>Create Blog Post</h2>
<label>Title</label>
<input #title />

<br />
<label>Content</label>
<textarea #body></textarea>

<br />

<label>Images</label>
<input type="file" class="file-upload" (change)="onFileChange($event)">

<br />
    <label for="date">Date</label>
    <input id="date" type="date" placeholder="date" />
<br />
<button (click)="createBlogPost()">Create Post</button>
<br />
<br />
<h4>Tidigare uppladdade bilder</h4>
<div class="uploaded-images">
  <!-- Loopa igenom uploadedImages och visa varje bild som en miniatyr -->
  <img *ngFor="let image of uploadedImages" [src]="'http://localhost:4000/uploads/' + image" alt="Uploaded Image" class="thumbnail">
</div>