<h2>Create Blog Post</h2>

<form class="newBlogPost">
  <input
    name="title"
    type="text"
    placeholder="Rubrik"
    [(ngModel)]="blogPost.title"
  />

  <br />

  <textarea
    name="body"
    placeholder="Berätta om något"
    [(ngModel)]="blogPost.body"
  >
  </textarea>
  <br />


  <input type="file" class="file-upload" />

  <br />
  <label for="date">Datum</label>
  <input id="date" type="date" placeholder="date" />
  <br />
  <button (click)="createBlogPost()">Create Post</button>
  <br />
  <br />
  <h2>Created posts</h2>

  <ul class="blog-app">
    <li *ngFor="let blogPost of createdPosts">
      <app-blog-post></app-blog-post>
    </li>
  </ul>
  <!-- <li *ngFor="let post of createdPosts">
    {{ post.title }} - {{ post.creationDate | date }}
  </li> -->

  <!-- <div class="uploaded-images"> -->
  <!-- Loopa igenom uploadedImages och visa varje bild som en miniatyr -->
  <!-- <img *ngFor="let image of uploadedImages" [src]="'http://localhost:4000/uploads/' + image" alt="Uploaded Image" class="thumbnail">
</div> -->
</form>
